body {
    font-family: 'Quicksand', sans-serif;
}

#heading {
    color: #ff0000;
    font-weight: bolder;
}

h3 {
    font-weight: bold;
}

p {
    font-weight: bold;
}

.image_div {
    background-color: #808080;
    box-shadow: 5px 5px 5px 
}

body {
    background: linear-gradient(rgb(147, 255, 198), black)
}

.copy_right_footer {
    position: fixed;
    color: #6c757d;
    bottom: 0;
    background-color: #f5f5f5;
    line-height: 3;
    text-align: center;
    font-weight: bold;
    width: 100%;
}

ol h5 {
    background: white;
    padding: 13px;
    border-radius: 20px;
}

span {
    color: red;
    font-size: 16px;
}

li img {
    border-radius: 20px;
}

.bob {
    background: rgb(79, 141, 145);
    padding: 30px;
    border-radius: 20px;
    margin-top: 50px;
    box-shadow: 5px 5px 18px grey;
}

.bob3 {
    text-align: center;
    color: white;
}

.result {
    box-shadow: 5px 5px 18px grey;
    letter-spacing: 2px;
    background: linear-gradient(rgb(255, 125, 125), rgb(255, 255, 133));
    border-radius: 20px;
    margin-top: 30px;
    padding: 20px;
    border: 2px solid grey
}